In [1]:
import pandas as pd

In [129]:
# cleaning 'passing' data

In [2]:
passing = pd.read_csv("passing.csv")

In [3]:
passing.columns

Index(['Unnamed: 0', 'Rk', 'Player', 'Tm', 'Age', 'Pos', 'G', 'GS', 'QBrec',
       'Cmp', 'Att', 'Cmp%', 'Yds ▼', 'TD', 'TD%', 'Int', 'Int%', '1D', 'Lng',
       'Y/A', 'AY/A', 'Y/C', 'Y/G', 'Rate', 'QBR', 'Sk', 'Yds', 'Sk%', 'NY/A',
       'ANY/A', '4QC', 'GWD', 'Year'],
      dtype='object')

In [4]:
passing = passing[['Player', 'Tm', 'Age', 'Pos', 'Cmp', 'Att', 'Yds ▼', 'TD', 'Int', 'Year']]

In [5]:
passing.rename(columns={'Yds ▼': 'Passing Yds'}, inplace=True)

In [6]:
passing.rename(columns={'Cmp': 'Passing Cmp'}, inplace=True)

In [7]:
passing.rename(columns={'Att': 'Passing Att'}, inplace=True)

In [8]:
passing.rename(columns={'TD': 'Passing TD'}, inplace=True)

In [9]:
passing["Player"] = passing["Player"].str.replace("*", "", regex=False)

In [10]:
passing["Player"] = passing["Player"].str.replace("+", "", regex=False)

In [139]:
# cleaning 'rushing' data

In [11]:
rushing = pd.read_csv("rushing.csv")

In [12]:
rushing.columns

Index(['Unnamed: 0', 'Rk', 'Player', 'Tm', 'Age', 'Pos', 'G', 'GS', 'Att',
       'Yds', 'TD', '1D', 'Lng', 'Y/A', 'Y/G', 'Fmb', 'Unnamed: 16'],
      dtype='object')

In [13]:
rushing = rushing[['Player', 'Tm', 'Pos', 'Att', 'Yds', 'TD', 'Fmb', 'Unnamed: 16']]

In [14]:
rushing.rename(columns={'Att': 'Rushing Att'}, inplace=True)

In [15]:
rushing.rename(columns={'Yds': 'Rushing Yds'}, inplace=True)

In [16]:
rushing.rename(columns={'TD': 'Rushing TD'}, inplace=True)

In [17]:
rushing.rename(columns={'Fmb': 'Rushing Fmb'}, inplace=True)

In [18]:
rushing.rename(columns={'Unnamed: 16': 'Year'}, inplace=True)

In [19]:
rushing["Player"] = rushing["Player"].str.replace("*", "", regex=False)

In [20]:
rushing["Player"] = rushing["Player"].str.replace("+", "", regex=False)

In [150]:
# cleaning 'receiving' data

In [21]:
rec = pd.read_csv("receiving.csv")

In [22]:
rec.columns

Index(['Unnamed: 0', 'Rk', 'Player', 'Tm', 'Age', 'Pos', 'G', 'GS', 'Tgt',
       'Rec', 'Ctch%', 'Yds', 'Y/R', 'TD', '1D', 'Lng', 'Y/Tgt', 'R/G', 'Y/G',
       'Fmb', 'Year'],
      dtype='object')

In [23]:
rec = rec[['Player', 'Tm', 'Pos', 'Tgt', 'Rec', 'Yds', 'TD', 'Fmb', 'Year']]

In [24]:
rec.rename(columns={'Yds': 'Receiving Yds'}, inplace=True)

In [25]:
rec.rename(columns={'Fmb': 'Receiving Fmb'}, inplace=True)

In [26]:
rec.rename(columns={'TD': 'Receiving TD'}, inplace=True)

In [27]:
rec["Player"] = rec["Player"].str.replace("*", "", regex=False)

In [28]:
rec["Player"] = rec["Player"].str.replace("+", "", regex=False)

In [159]:
# rec["Pts"] = (6 * rec["Receiving TD"]) + (rec["Receiving Yds"] // 10) - (2 * rec["Receiving Fmb"])

In [160]:
# cleaning 'scrimmage' data

In [29]:
scrim = pd.read_csv("scrimmage.csv")

In [30]:
scrim.columns

Index(['Unnamed: 0', 'Rk', 'Player', 'Tm', 'Age', 'Pos', 'G', 'GS', 'Tgt',
       'Rec', 'Yds', 'Y/R', 'TD', '1D', 'Lng', 'R/G', 'Y/G', 'Ctch%', 'Y/Tgt',
       'Att', 'Yds.1', 'TD.1', '1D.1', 'Lng.1', 'Y/A', 'Y/G.1', 'A/G', 'Touch',
       'Y/Tch', 'YScm', 'RRTD', 'Fmb', 'Unnamed: 32'],
      dtype='object')

In [31]:
scrim = scrim[['Player', 'Tm', 'Pos', 'Touch', 'YScm', 'Unnamed: 32']]

In [32]:
scrim.rename(columns={'YScm': 'Scrimmage Yards'}, inplace=True)

In [33]:
scrim.rename(columns={'Unnamed: 32': 'Year'}, inplace=True)

In [34]:
scrim["Player"] = scrim["Player"].str.replace("*", "", regex=False)

In [35]:
scrim["Player"] = scrim["Player"].str.replace("+", "", regex=False)

In [36]:
merge_1 = pd.merge(passing, rushing, how="outer", on=["Tm", "Year", "Player", "Pos"])

In [37]:
merge_2 = pd.merge(rec, scrim, how="outer", on=["Tm", "Year", "Player", "Pos"])

In [38]:
off_stats = pd.merge(merge_1, merge_2, how="outer", on=["Tm", "Year", "Player", "Pos"])

In [39]:
off_stats

,Player,Tm,Age,Pos,Passing Cmp,Passing Att,Passing Yds,Passing TD,Int,Year,...,Rushing Yds,Rushing TD,Rushing Fmb,Tgt,Rec,Receiving Yds,Receiving TD,Receiving Fmb,Touch,Scrimmage Yards
0,Drew Brees,NOR,33.0,QB,422.0,670.0,5177.0,43.0,19.0,2012,...,5.0,1.0,5.0,NaN,NaN,NaN,NaN,NaN,15.0,5.0
1,Matthew Stafford,DET,24.0,QB,435.0,727.0,4967.0,20.0,17.0,2012,...,126.0,4.0,6.0,1.0,1.0,3.0,0.0,6.0,36.0,129.0
2,Tony Romo,DAL,32.0,QB,425.0,648.0,4903.0,28.0,19.0,2012,...,49.0,1.0,6.0,1.0,1.0,-1.0,0.0,6.0,31.0,48.0
3,Tom Brady,NWE,35.0,QB,401.0,637.0,4827.0,34.0,8.0,2012,...,32.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN,23.0,32.0
4,Matt Ryan,ATL,27.0,QB,422.0,615.0,4719.0,32.0,14.0,2012,...,141.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,34.0,141.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6588,James Washington,DAL,NaN,WR,NaN,NaN,NaN,NaN,NaN,2022,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,NaN,NaN
6589,Charlie Woerner,SFO,NaN,TE,NaN,NaN,NaN,NaN,NaN,2022,...,NaN,NaN,NaN,2.0,0.0,0.0,0.0,0.0,NaN,NaN
6590,Hroniss Grasu,CHI,NaN,C,NaN,NaN,NaN,NaN,NaN,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
6591,Charlie Heck,HOU,NaN,T,NaN,NaN,NaN,NaN,NaN,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
6592,Max Scharping,HOU,NaN,LG,NaN,NaN,NaN,NaN,NaN,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0

In [40]:
del off_stats["Age"]

In [41]:
pd.isnull(off_stats).sum()

Player                0
Tm                    0
Pos                  17
Passing Cmp        5506
Passing Att        5506
Passing Yds        5506
Passing TD         5506
Int                5506
Year                  0
Rushing Att        2917
Rushing Yds        2917
Rushing TD         2917
Rushing Fmb        2917
Tgt                1068
Rec                1066
Receiving Yds      1066
Receiving TD       1066
Receiving Fmb      1178
Touch               566
Scrimmage Yards     561
dtype: int64

In [42]:
off_stats = off_stats.fillna(0)

In [43]:
pd.isnull(off_stats).sum()

Player             0
Tm                 0
Pos                0
Passing Cmp        0
Passing Att        0
Passing Yds        0
Passing TD         0
Int                0
Year               0
Rushing Att        0
Rushing Yds        0
Rushing TD         0
Rushing Fmb        0
Tgt                0
Rec                0
Receiving Yds      0
Receiving TD       0
Receiving Fmb      0
Touch              0
Scrimmage Yards    0
dtype: int64

In [44]:
off_stats

,Player,Tm,Pos,Passing Cmp,Passing Att,Passing Yds,Passing TD,Int,Year,Rushing Att,Rushing Yds,Rushing TD,Rushing Fmb,Tgt,Rec,Receiving Yds,Receiving TD,Receiving Fmb,Touch,Scrimmage Yards
0,Drew Brees,NOR,QB,422.0,670.0,5177.0,43.0,19.0,2012,15.0,5.0,1.0,5.0,0.0,0.0,0.0,0.0,0.0,15.0,5.0
1,Matthew Stafford,DET,QB,435.0,727.0,4967.0,20.0,17.0,2012,35.0,126.0,4.0,6.0,1.0,1.0,3.0,0.0,6.0,36.0,129.0
2,Tony Romo,DAL,QB,425.0,648.0,4903.0,28.0,19.0,2012,30.0,49.0,1.0,6.0,1.0,1.0,-1.0,0.0,6.0,31.0,48.0
3,Tom Brady,NWE,QB,401.0,637.0,4827.0,34.0,8.0,2012,23.0,32.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0,23.0,32.0
4,Matt Ryan,ATL,QB,422.0,615.0,4719.0,32.0,14.0,2012,34.0,141.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,34.0,141.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6588,James Washington,DAL,WR,0.0,0.0,0.0,0.0,0.0,2022,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6589,Charlie Woerner,SFO,TE,0.0,0.0,0.0,0.0,0.0,2022,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
6590,Hroniss Grasu,CHI,C,0.0,0.0,0.0,0.0,0.0,2017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
6591,Charlie Heck,HOU,T,0.0,0.0,0.0,0.0,0.0,2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
6592,Max Scharping,HOU,LG,0.0,0.0,0.0,0.0,0.0,2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0

In [45]:
off_stats["Tm"].unique()

array(['NOR', 'DET', 'DAL', 'NWE', 'ATL', 'DEN', 'IND', 'GNB', 'TAM',
       'OAK', 'HOU', 'NYG', 'CAR', 'BAL', 'STL', 'CIN', 'SDG', 'BUF',
       'CLE', 'MIA', 'PIT', 'WAS', 'SEA', 'CHI', 'MIN', 'NYJ', 'PHI',
       'TEN', 'JAX', 'SFO', 'KAN', 'ARI', '2TM', '3TM', 'LAR', 'LAC',
       'LVR', '4TM'], dtype=object)

In [46]:
off_stats['Tm'] = off_stats['Tm'].replace(['OAK'], 'LVR')

In [47]:
off_stats['Tm'] = off_stats['Tm'].replace(['SDG'], 'LAC')

In [48]:
off_stats['Tm'] = off_stats['Tm'].replace(['STL'], 'LAR')

In [49]:
off_stats['Tm'] = off_stats['Tm'].replace(['2TM', '3TM', '4TM'], 'NFL')

In [50]:
off_stats["Tm"].unique()

array(['NOR', 'DET', 'DAL', 'NWE', 'ATL', 'DEN', 'IND', 'GNB', 'TAM',
       'LVR', 'HOU', 'NYG', 'CAR', 'BAL', 'LAR', 'CIN', 'LAC', 'BUF',
       'CLE', 'MIA', 'PIT', 'WAS', 'SEA', 'CHI', 'MIN', 'NYJ', 'PHI',
       'TEN', 'JAX', 'SFO', 'KAN', 'ARI', 'NFL'], dtype=object)

In [51]:
off_stats.to_csv("offensive_stats.csv")

In [52]:
defense = pd.read_csv("defense.csv")

In [53]:
defense.columns

Index(['Unnamed: 0', 'Rk', 'Tm', 'G', 'PA', 'Yds', 'Ply', 'Y/P', 'TO', 'FL',
       '1stD', 'Cmp', 'Att', 'Yds.1', 'TD', 'Int', 'NY/A', '1stD.1', 'Att.1',
       'Yds.2', 'TD.1', 'Y/A', '1stD.2', 'Pen', 'Yds.3', '1stPy', 'Sc%', 'TO%',
       'EXP', 'Unnamed: 29'],
      dtype='object')

In [54]:
defense = defense[['Tm', 'PA', 'Yds', 'TO', 'FL', 'Int', 'Pen', 'EXP', 'Unnamed: 29']]

In [55]:
defense.rename(columns={'Unnamed: 29': 'Year'}, inplace=True)

In [56]:
defense.rename(columns={'Tm': 'Player'}, inplace=True)

In [57]:
defense["Player"].unique()

array(['Seattle Seahawks', 'San Francisco 49ers', 'Chicago Bears',
       'Denver Broncos', 'Atlanta Falcons', 'Pittsburgh Steelers',
       'Miami Dolphins', 'Cincinnati Bengals', 'Houston Texans',
       'New England Patriots', 'Green Bay Packers', 'Baltimore Ravens',
       'New York Giants', 'Minnesota Vikings', 'St. Louis Rams',
       'San Diego Chargers', 'Arizona Cardinals', 'Carolina Panthers',
       'Cleveland Browns', 'New York Jets', 'Indianapolis Colts',
       'Washington Redskins', 'Tampa Bay Buccaneers', 'Dallas Cowboys',
       'Kansas City Chiefs', 'Buffalo Bills', 'Detroit Lions',
       'Oakland Raiders', 'Philadelphia Eagles', 'Jacksonville Jaguars',
       'New Orleans Saints', 'Tennessee Titans', 'Los Angeles Rams',
       'Los Angeles Chargers', 'Washington Football Team',
       'Las Vegas Raiders', 'Washington Commanders'], dtype=object)

In [58]:
defense['Player'] = defense['Player'].replace(['St. Louis Rams'], 'Los Angeles Rams')

In [59]:
defense['Player'] = defense['Player'].replace(['San Diego Chargers'], 'Los Angeles Chargers')

In [60]:
defense['Player'] = defense['Player'].replace(['Oakland Raiders'], 'Las Vegas Raiders')

In [61]:
defense['Player'] = defense['Player'].replace(['Washington Redskins', 'Washington Football Team'], 'Washington Commanders')

In [62]:
defense["Player"].unique()

array(['Seattle Seahawks', 'San Francisco 49ers', 'Chicago Bears',
       'Denver Broncos', 'Atlanta Falcons', 'Pittsburgh Steelers',
       'Miami Dolphins', 'Cincinnati Bengals', 'Houston Texans',
       'New England Patriots', 'Green Bay Packers', 'Baltimore Ravens',
       'New York Giants', 'Minnesota Vikings', 'Los Angeles Rams',
       'Los Angeles Chargers', 'Arizona Cardinals', 'Carolina Panthers',
       'Cleveland Browns', 'New York Jets', 'Indianapolis Colts',
       'Washington Commanders', 'Tampa Bay Buccaneers', 'Dallas Cowboys',
       'Kansas City Chiefs', 'Buffalo Bills', 'Detroit Lions',
       'Las Vegas Raiders', 'Philadelphia Eagles', 'Jacksonville Jaguars',
       'New Orleans Saints', 'Tennessee Titans'], dtype=object)

In [63]:
team_mapping = {
    'Houston Texans': 'HOU',
    'Seattle Seahawks': 'SEA',
    'San Francisco 49ers': 'SFO',
    'Chicago Bears': 'CHI',
    'Denver Broncos': 'DEN',
    'Atlanta Falcons': 'ATL',
    'Pittsburgh Steelers': 'PIT',
    'Miami Dolphins': 'MIA',
    'Cincinnati Bengals': 'CIN',
    'New England Patriots': 'NWE',
    'Green Bay Packers': 'GNB',
    'Baltimore Ravens': 'BAL',
    'New York Giants': 'NYG',
    'Minnesota Vikings': 'MIN',
    'Los Angeles Rams': 'LAR',
    'Los Angeles Chargers': 'LAC',
    'Arizona Cardinals': 'ARI',
    'Carolina Panthers': 'CAR',
    'Cleveland Browns': 'CLE',
    'New York Jets': 'NYJ',
    'Indianapolis Colts': 'IND',
    'Washington Commanders': 'WAS',
    'Tampa Bay Buccaneers': 'TAM',
    'Dallas Cowboys': 'DAL',
    'Kansas City Chiefs': 'KAN',
    'Buffalo Bills': 'BUF',
    'Detroit Lions': 'DET',
    'Las Vegas Raiders': 'LVR',
    'Philadelphia Eagles': 'PHI',
    'Jacksonville Jaguars': 'JAX',
    'New Orleans Saints': 'NOR',
    'Tennessee Titans': 'TEN'
}

In [64]:
def get_team_abbreviation(player_name):
    return team_mapping.get(player_name, None)

In [65]:
defense['Tm'] = defense['Player'].apply(get_team_abbreviation)

In [66]:
defense

                  Player   PA   Yds  TO  FL  Int  Pen     EXP  Year   Tm
0       Seattle Seahawks  245  4899  31  13   18  102  133.75  2012  SEA
1    San Francisco 49ers  273  4710  25  11   14   93  114.89  2012  SFO
2          Chicago Bears  277  5050  44  20   24   78  206.62  2012  CHI
3         Denver Broncos  289  4652  24   8   16  123  140.44  2012  DEN
4        Atlanta Falcons  299  5849  31  11   20   83   40.76  2012  ATL
..                   ...  ...   ...  ..  ..  ...  ...     ...   ...  ...
347    Minnesota Vikings  427  6608  25  10   15  111 -104.00  2022  MIN
348        Detroit Lions  427  6670  22  10   12  103 -159.66  2022  DET
349   Indianapolis Colts  427  5678  21  11   10   89  -51.07  2022  IND
350    Arizona Cardinals  449  5931  20   9   11   94  -81.73  2022  ARI
351        Chicago Bears  463  6390  23   9   14   84 -169.13  2022  CHI

[352 rows x 10 columns]

In [67]:
defense.rename(columns={'Yds': 'Yds Allow'}, inplace=True)

In [68]:
defense.rename(columns={'Int': 'Def Int'}, inplace=True)

In [69]:
def_pos = 'D/ST'

In [70]:
defense['Pos'] = def_pos

In [71]:
defense

,Player,PA,Yds Allow,TO,FL,Def Int,Pen,EXP,Year,Tm,Pos
0,Seattle Seahawks,245,4899,31,13,18,102,133.75,2012,SEA,D/ST
1,San Francisco 49ers,273,4710,25,11,14,93,114.89,2012,SFO,D/ST
2,Chicago Bears,277,5050,44,20,24,78,206.62,2012,CHI,D/ST
3,Denver Broncos,289,4652,24,8,16,123,140.44,2012,DEN,D/ST
4,Atlanta Falcons,299,5849,31,11,20,83,40.76,2012,ATL,D/ST
...,...,...,...,...,...,...,...,...,...,...,...
347,Minnesota Vikings,427,6608,25,10,15,111,-104.00,2022,MIN,D/ST
348,Detroit Lions,427,6670,22,10,12,103,-159.66,2022,DET,D/ST
349,Indianapolis Colts,427,5678,21,11,10,89,-51.07,2022,IND,D/ST
350,Arizona Cardinals,449,5931,20,9,11,94,-81.73,2022,ARI,D/ST
351,Chicago Bears,463,6390,23,9,14,84,-169.13,2022,CHI,D/ST

In [72]:
defense.to_csv("def_stats.csv")

In [79]:
kick = pd.read_csv("kicking.csv")

In [80]:
kick.columns

Index(['Unnamed: 0', 'Rk', 'Player', 'Tm', 'Age', 'Pos', 'G', 'GS', 'FGA',
       'FGM', 'FGA.1', 'FGM.1', 'FGA.2', 'FGM.2', 'FGA.3', 'FGM.3', 'FGA.4',
       'FGM.4', 'FGA.5', 'FGM.5', 'Lng', 'FG%', 'XPA', 'XPM', 'XP%', 'KO',
       'KOYds', 'TB', 'TB%', 'KOAvg', 'Unnamed: 30'],
      dtype='object')

In [81]:
kick = kick[['Player', 'Tm', 'FGA', 'FGM', 'FGA.1', 'FGM.1', 'FGA.2', 'FGM.2', 'FGA.3', 'FGM.3', 'FGA.4',
       'FGM.4', 'XPA', 'XPM', 'Unnamed: 30']]

In [82]:
kick.rename(columns={'FGA': 'Short FGA'}, inplace=True)

In [83]:
kick.rename(columns={'FGM': 'Short FGM'}, inplace=True)

In [84]:
kick.rename(columns={'FGA.1': 'Reg FGA'}, inplace=True)

In [85]:
kick.rename(columns={'FGM.1': 'Reg FGM'}, inplace=True)

In [86]:
kick.rename(columns={'FGA.2': 'Med FGA'}, inplace=True)

In [87]:
kick.rename(columns={'FGM.2': 'Med FGM'}, inplace=True)

In [88]:
kick.rename(columns={'FGA.3': 'Long FGA'}, inplace=True)

In [89]:
kick.rename(columns={'FGM.3': 'Long FGM'}, inplace=True)

In [90]:
kick.rename(columns={'FGA.4': 'Deep FGA'}, inplace=True)

In [91]:
kick.rename(columns={'FGM.4': 'Deep FGM'}, inplace=True)

In [92]:
kick.rename(columns={'Unnamed: 30': 'Year'}, inplace=True)

In [93]:
kick

,Player,Tm,Short FGA,Short FGM,Reg FGA,Reg FGM,Med FGA,Med FGM,Long FGA,Long FGM,Deep FGA,Deep FGM,XPA,XPM,Year
0,David Akers,SFO,1.0,1.0,9.0,8.0,13.0,11.0,13.0,7.0,6.0,2.0,44.0,44.0,2012
1,Lawrence Tynes,NYG,NaN,NaN,11.0,11.0,16.0,14.0,9.0,7.0,3.0,1.0,46.0,46.0,2012
2,Shayne Graham,HOU,1.0,1.0,8.0,8.0,11.0,11.0,9.0,7.0,9.0,4.0,45.0,45.0,2012
3,Matt Bryant,ATL,1.0,1.0,9.0,8.0,11.0,10.0,13.0,10.0,4.0,4.0,44.0,44.0,2012
4,Blair Walsh*+,MIN,NaN,NaN,10.0,10.0,9.0,8.0,9.0,7.0,10.0,10.0,36.0,36.0,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
651,Jamie Gillan,NYG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
652,Johnny Hekker,CAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
653,Sam Martin,BUF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
654,Arryn Siposs,PHI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
655,Tress Way*,WAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022

In [94]:
kick["Player"] = kick["Player"].str.replace("*", "", regex=False)

In [95]:
kick["Player"] = kick["Player"].str.replace("+", "", regex=False)

In [96]:
kick

,Player,Tm,Short FGA,Short FGM,Reg FGA,Reg FGM,Med FGA,Med FGM,Long FGA,Long FGM,Deep FGA,Deep FGM,XPA,XPM,Year
0,David Akers,SFO,1.0,1.0,9.0,8.0,13.0,11.0,13.0,7.0,6.0,2.0,44.0,44.0,2012
1,Lawrence Tynes,NYG,NaN,NaN,11.0,11.0,16.0,14.0,9.0,7.0,3.0,1.0,46.0,46.0,2012
2,Shayne Graham,HOU,1.0,1.0,8.0,8.0,11.0,11.0,9.0,7.0,9.0,4.0,45.0,45.0,2012
3,Matt Bryant,ATL,1.0,1.0,9.0,8.0,11.0,10.0,13.0,10.0,4.0,4.0,44.0,44.0,2012
4,Blair Walsh,MIN,NaN,NaN,10.0,10.0,9.0,8.0,9.0,7.0,10.0,10.0,36.0,36.0,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
651,Jamie Gillan,NYG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
652,Johnny Hekker,CAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
653,Sam Martin,BUF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
654,Arryn Siposs,PHI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
655,Tress Way,WAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022

In [97]:
k_pos = 'K'

In [98]:
kick['Pos'] = k_pos

In [99]:
kick.to_csv("kicking_stats.csv")

In [105]:
sp_tm = pd.read_csv("special_teams.csv")

In [106]:
sp_tm.columns

Index(['Unnamed: 0', 'Rk', 'Tm', 'G', 'RshTD', 'RecTD', 'PR TD', 'KR TD',
       'FblTD', 'IntTD', 'OthTD', 'AllTD', '2PM', '2PA', 'D2P', 'XPM', 'XPA',
       'FGM', 'FGA', 'Sfty', 'Pts', 'Pts/G', 'Year'],
      dtype='object')

In [107]:
sp_tm = sp_tm[['Tm', 'PR TD', 'KR TD', 'FblTD', 'IntTD', 'Sfty', 'Year']]

In [108]:
sp_tm

                      Tm  PR TD  KR TD  FblTD  IntTD  Sfty  Year
0    San Francisco 49ers    NaN    NaN    1.0    NaN   2.0  2012
1          Buffalo Bills    NaN    NaN    1.0    NaN   1.0  2012
2       Baltimore Ravens    NaN    NaN    1.0    NaN   NaN  2012
3          New York Jets    2.0    NaN    NaN    NaN   1.0  2012
4         Dallas Cowboys    NaN    NaN    NaN    3.0   NaN  2012
..                   ...    ...    ...    ...    ...   ...   ...
347    Minnesota Vikings    NaN    1.0    NaN    2.0   NaN  2022
348        Detroit Lions    NaN    NaN    1.0    2.0   1.0  2022
349   Indianapolis Colts    NaN    NaN    1.0    4.0   NaN  2022
350    Arizona Cardinals    NaN    NaN    1.0    1.0   NaN  2022
351        Chicago Bears    NaN    1.0    1.0    1.0   NaN  2022

[352 rows x 7 columns]

In [109]:
sp_tm.rename(columns={'Tm': 'Player'}, inplace=True)

In [110]:
sp_tm["Player"].unique()

array(['San Francisco 49ers', 'Buffalo Bills', 'Baltimore Ravens',
       'New York Jets', 'Dallas Cowboys', 'Cincinnati Bengals',
       'Washington Commanders', 'Philadelphia Eagles',
       'New Orleans Saints', 'Pittsburgh Steelers',
       'New England Patriots', 'Jacksonville Jaguars',
       'Tampa Bay Buccaneers', 'Denver Broncos', 'Tennessee Titans',
       'Kansas City Chiefs', 'Green Bay Packers', 'New York Giants',
       'Carolina Panthers', 'Cleveland Browns', 'Los Angeles Chargers',
       'Los Angeles Rams', 'Atlanta Falcons', 'Miami Dolphins',
       'Seattle Seahawks', 'Las Vegas Raiders', 'Houston Texans',
       'Minnesota Vikings', 'Detroit Lions', 'Indianapolis Colts',
       'Arizona Cardinals', 'Chicago Bears'], dtype=object)

In [111]:
sp_tm['Tm'] = sp_tm['Player'].apply(get_team_abbreviation)

In [114]:
sp_tm['Pos'] = def_pos

In [115]:
spectm_stats = pd.merge(sp_tm, kick, how="outer", on=["Tm", "Year", "Player", "Pos"])

In [116]:
dst_stats = pd.merge(defense, spectm_stats, how="outer", on=["Tm", "Year", "Player", "Pos"])

In [117]:
pd.isnull(dst_stats).sum()

Player         0
PA           656
Yds Allow    656
TO           656
FL           656
Def Int      656
Pen          656
EXP          656
Year           0
Tm             0
Pos            0
PR TD        986
KR TD        964
FblTD        777
IntTD        788
Sfty         887
Short FGA    929
Short FGM    929
Reg FGA      595
Reg FGM      597
Med FGA      592
Med FGM      594
Long FGA     582
Long FGM     598
Deep FGA     609
Deep FGM     657
XPA          558
XPM          560
dtype: int64

In [118]:
dst_stats = dst_stats.fillna(0)

In [119]:
dst_stats.to_csv("dst_stats.csv")

In [120]:
ffb_stats = pd.merge(off_stats, dst_stats, how="outer", on=["Tm", "Year", "Player", "Pos"])

In [121]:
ffb_stats

,Player,Tm,Pos,Passing Cmp,Passing Att,Passing Yds,Passing TD,Int,Year,Rushing Att,...,Reg FGA,Reg FGM,Med FGA,Med FGM,Long FGA,Long FGM,Deep FGA,Deep FGM,XPA,XPM
0,Drew Brees,NOR,QB,422.0,670.0,5177.0,43.0,19.0,2012,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Matthew Stafford,DET,QB,435.0,727.0,4967.0,20.0,17.0,2012,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tony Romo,DAL,QB,425.0,648.0,4903.0,28.0,19.0,2012,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Tom Brady,NWE,QB,401.0,637.0,4827.0,34.0,8.0,2012,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Matt Ryan,ATL,QB,422.0,615.0,4719.0,32.0,14.0,2012,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7575,Jamie Gillan,NYG,K,NaN,NaN,NaN,NaN,NaN,2022,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7576,Johnny Hekker,CAR,K,NaN,NaN,NaN,NaN,NaN,2022,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7577,Sam Martin,BUF,K,NaN,NaN,NaN,NaN,NaN,2022,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7578,Arryn Siposs,PHI,K,NaN,NaN,NaN,NaN,NaN,2022,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7579,Tress Way,WAS,K,NaN,NaN,NaN,NaN,NaN,2022,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [122]:
ffb_stats = ffb_stats.fillna(0)

In [123]:
ffb_stats

,Player,Tm,Pos,Passing Cmp,Passing Att,Passing Yds,Passing TD,Int,Year,Rushing Att,...,Reg FGA,Reg FGM,Med FGA,Med FGM,Long FGA,Long FGM,Deep FGA,Deep FGM,XPA,XPM
0,Drew Brees,NOR,QB,422.0,670.0,5177.0,43.0,19.0,2012,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Matthew Stafford,DET,QB,435.0,727.0,4967.0,20.0,17.0,2012,35.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Tony Romo,DAL,QB,425.0,648.0,4903.0,28.0,19.0,2012,30.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Tom Brady,NWE,QB,401.0,637.0,4827.0,34.0,8.0,2012,23.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Matt Ryan,ATL,QB,422.0,615.0,4719.0,32.0,14.0,2012,34.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7575,Jamie Gillan,NYG,K,0.0,0.0,0.0,0.0,0.0,2022,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7576,Johnny Hekker,CAR,K,0.0,0.0,0.0,0.0,0.0,2022,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7577,Sam Martin,BUF,K,0.0,0.0,0.0,0.0,0.0,2022,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7578,Arryn Siposs,PHI,K,0.0,0.0,0.0,0.0,0.0,2022,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7579,Tress Way,WAS,K,0.0,0.0,0.0,0.0,0.0,2022,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [124]:
ffb_stats.columns

Index(['Player', 'Tm', 'Pos', 'Passing Cmp', 'Passing Att', 'Passing Yds',
       'Passing TD', 'Int', 'Year', 'Rushing Att', 'Rushing Yds', 'Rushing TD',
       'Rushing Fmb', 'Tgt', 'Rec', 'Receiving Yds', 'Receiving TD',
       'Receiving Fmb', 'Touch', 'Scrimmage Yards', 'PA', 'Yds Allow', 'TO',
       'FL', 'Def Int', 'Pen', 'EXP', 'PR TD', 'KR TD', 'FblTD', 'IntTD',
       'Sfty', 'Short FGA', 'Short FGM', 'Reg FGA', 'Reg FGM', 'Med FGA',
       'Med FGM', 'Long FGA', 'Long FGM', 'Deep FGA', 'Deep FGM', 'XPA',
       'XPM'],
      dtype='object')

In [126]:

ffb_stats["Pts"] = (6 * ffb_stats["Receiving TD"]) + (6 * ffb_stats["Rushing TD"]) + (4 * ffb_stats["Passing TD"]) + (ffb_stats["Rushing Yds"] // 10) + (ffb_stats["Receiving Yds"] // 10) + (5 * ffb_stats["Deep FGM"]) +(4 * ffb_stats["Long FGM"]) +(3 * ffb_stats["Med FGM"]) + (3 * ffb_stats["Reg FGM"]) + (3 * ffb_stats["Short FGM"]) + (ffb_stats["XPM"]) +(6 * ffb_stats["FblTD"]) +(3 * ffb_stats["IntTD"]) +(2 * ffb_stats["Def Int"]) +(2 * ffb_stats["FL"]) +(2 * ffb_stats["Sfty"]) +(ffb_stats["Passing Yds"] // 25) - (2 * (ffb_stats["Long FGM"] - ffb_stats["Long FGA"])) -(ffb_stats["Med FGM"] - ffb_stats["Med FGA"]) -(ffb_stats["Reg FGM"] - ffb_stats["Reg FGA"]) -(ffb_stats["Short FGM"] - ffb_stats["Short FGA"]) -(2 * ffb_stats["Rushing Fmb"]) - (2 * ffb_stats["Receiving Fmb"])

In [136]:
ffb_stats = ffb_stats.sort_values("Pts", ascending=False)
ffb_stats["Rk"] = list(range(1, ffb_stats.shape[0]+1))

In [138]:
ffb_stats.to_csv("ffb_stats.csv")